.hero {
    padding: 80px 0;
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}

.hero__content {
    h1 {
        margin: 0px;
    }
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
