.labo {
    background: var(--color-black);
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    h2 {
        color: var(--color-white);
    }

    span {
        @media (width<= $breakpoint-md) {
            font-weight: 400;
        }
    }
}
