/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Work sans', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --font-size-content: #{typo(18px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(30px, 40px)};
    --font-size-h3-button: #{typo(16px, 16px)};
    --font-size-descri: #{typo(24px, 32px)};
    --font-size-h4: #{typo(56px, 56px)};
}
