{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="section hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="BG-Hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section labo">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labplace.jpg" alt="img labo 1" />
                </div>
                <div class="card__content">
                    <div class="text">
                        <div class="box">
                            <h3>SEM 01 - RÉVISION</h3>
                            <p class="description">
                                <span>Lorem ipsum dolor sit amet, consectetur</span>
                                adipiscing elit. Ultrices lorem non feugiat egestas amet.
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="#" class="button">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labplace.jpg" alt="img labo 2" />
                </div>
                <div class="card__content">
                    <div class="text">
                        <div class="box">
                            <h3>SEM 02 - RÉVISION</h3>
                            <p class="description">
                                <span>Lorem ipsum dolor sit amet, consectetur</span>
                                adipiscing elit. Ultrices lorem non feugiat egestas amet.
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="#" class="button">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labplace.jpg" alt="img labo 3" />
                </div>
                <div class="card__content">
                    <div class="text">
                        <div class="box">
                            <h3>SEM 03 - RÉVISION</h3>
                            <p class="description">
                                <span>Lorem ipsum dolor sit amet, consectetur</span>
                                adipiscing elit. Ultrices lorem non feugiat egestas amet.
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="#" class="button">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labplace.jpg" alt="img labo 4" />
                </div>
                <div class="card__content">
                    <div class="text">
                        <div class="box">
                            <h3>SEM 04 - RÉVISION</h3>
                            <p class="description">
                                <span>Lorem ipsum dolor sit amet, consectetur</span>
                                adipiscing elit. Ultrices lorem non feugiat egestas amet.
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="#" class="button">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labplace.jpg" alt="img labo 5" />
                </div>
                <div class="card__content">
                    <div class="text">
                        <div class="box">
                            <h3>SEM 05 - RÉVISION</h3>
                            <p class="description">
                                <span>Lorem ipsum dolor sit amet, consectetur</span>
                                adipiscing elit. Ultrices lorem non feugiat egestas amet.
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="#" class="button">VOIR LE LABORATOIRE</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
